#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 2rem;
    background: url(../../assets/leo3.jpg);
    background-size: calc(100vw  - 20vh);
  }

  #login h1  {
    color: rgb(245, 204, 23);
  }


#login .form{
    background-color: transparent;
    /* background-color: #3255b096; */
    /* background: linear-gradient(to right, #3255b096 40%, #5f9ea0dc, #e5e532); */
    backdrop-filter: blur(5px);
    width: 100%;
    max-width: 31rem;
    height: 15rem;
    padding: 0.5rem;
    border-radius: .8rem;
    padding-top: 2.5rem;
}

#login .field {
    padding-bottom: 0.5rem;
}

#login .field label {
    display: block;
    font-weight: 600;
    color: azure;
}

#login .field input {
    width: 100%;
    height: 1.5rem;
    background: linear-gradient(to left, transparent, #ccc);
    transition: all 2s;
}

#login .field input:hover {
    background: #fff;
}

#login .field input::placeholder {
    color: #000;
    font-weight: 400;
}

#login .actions {
    text-align: center;
    margin-top: 1rem;
}


#login .actions button{
    width: 15rem;
    height: 2rem; 
    background: #ccc; 
};
 