/* #Homepage {
    background: #242424;
    width: 100%;
    height: 100vh;
}

.gallery-menu {
    background: red;
    color: #fff;
}

.Michelangelo {
    width: 100%;
    background: turquoise;
    height: 5rem;
}

.Michelangelo img {
    width: 20rem;
    height: 20rem;
    padding: 2rem
}

.Leonardo {
    width: 100%;
    background: cadetblue;
    height: 5rem;
}

.Leonardo img {
     width: 20rem;
     height: 20rem;
     padding-top: 5rem;
}
 */







/* .Banksy {
    width: 100%;
    background: cornflowerblue;
    height: 5rem;
}

.Kobra {
    width: 100%;
    background: darkcyan;
    height: 5rem;
}

.Ghibli {
    width: 100%;
    background: darkslateblue;
    height: 5rem;
} */